<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yixz.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yixz.entity.Menu">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="perm" property="perm" />
        <result column="type" property="type" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, name, url, perm, type, sort
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="MenuVoMap" type="com.yixz.vo.MenuVo">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="perm" property="perm" />
        <result column="type" property="type" />
        <result column="sort" property="sort" />
    </resultMap>

    <select id="getMyMenu" resultMap="MenuVoMap">
        SELECT
        menu.id,
        menu.name,
        menu.pid,
        menu.url,
        menu.perm,
        menu.type,
        menu.sort
        FROM
        t_user_role userRole inner join t_role_menu roleMenu on userRole.role_id=roleMenu.role_id
        inner join t_menu menu on roleMenu.menu_id=menu.id
        <where>
            AND userRole.user_id=#{userId}
        </where>
    </select>
</mapper>
