<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yixz.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.yixz.entity.Menu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="menu_name" property="menuName" />
        <result column="menu_code" property="menuCode" />
        <result column="url" property="url" />
        <result column="icon" property="icon" />
        <result column="perms" property="perm" />
        <result column="type" property="type" />
        <result column="sort" property="sort" />
        <result column="created_date" property="createdDate" />
        <result column="updated_date" property="updatedDate" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parentId, menuName, menuCode, url, icon, perms, type, sort, created_date, updated_date, created_by, updated_by
    </sql>

    <select id="getPermMenu" resultType="org.yixz.vo.MenuVo">
        SELECT
        menu.id,
        menu.menu_name,
        menu.menu_code,
        menu.parent_id,
        menu.url,
        menu.icon,
        menu.perms,
        menu.type,
        menu.sort
        FROM
        t_user_role userRole inner join t_role_menu roleMenu on userRole.role_id=roleMenu.role_id
        inner join t_menu menu on roleMenu.menu_id=menu.id
        <where>
            AND userRole.user_id=#{userId}
        </where>
    </select>
</mapper>
